@page "/"

<title>Everyone Is</title>

<h1 class="display-3">Welcome</h1>
<p class="lead">Welcome</p>
<hr class="my-4">

<button class="btn btn-primary" @onclick="CreateRoom">Create Room</button>

@{
    async Task CreateRoom()
    {

    }
}